@model POC_PayMob.Models.TransactionResponseDto

@{
    ViewData["Title"] = "Transaction";
}

<h1>Transaction</h1>

<div>
    <h4>TransactionResponseDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountCents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountCents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAuth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAuth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCapture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCapture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStandalonePayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStandalonePayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVoided)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVoided)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefunded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRefunded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is3DSecure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is3DSecure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegrationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegrationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasParentTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasParentTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchantCommission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchantCommission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVoid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVoid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRefund)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRefund)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHidden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHidden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErrorOccured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErrorOccured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundedAmountCents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundedAmountCents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCaptured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCaptured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapturedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapturedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSettled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSettled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillBalanced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillBalanced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
